.style-icon-star{
   color: yellow;
   font-size: 25px;
  
}

.style-icon-star1{
      color: rgb(240, 240, 235);
       font-size: 25px;
      
}

.sty-fb-icon{
    font-size: 32px;
    color:rgb(60, 102, 180)

}

.sty-instg-icon{
     font-size: 32px;
      color:rgb(221, 30, 46)
}

.sty-yout-icon{
    font-size: 32px;
     color:rgb(163, 0, 14)
}

.sty-twit-icon{
    font-size: 32px;
    color:rgb(60, 102, 180)

}

.sty-what-icon{
    font-size: 32px;
     color:rgb(45, 230, 76)
}


.sty-user-icon{
    
   
    font-size: 42px;
    color:rgb(60, 102, 180);
    margin-left: 48px;

}