body{
     background-color: rgb(4, 175, 132);
}
.btn-style-a{
    
    width: 405px;
    color:rgba(0, 0, 0, 0.794);
    background-color: aliceblue;
    font-size: 25px;
    text-align: center;
    border: 3px solid;
    border-color: black;
    border-style: solid;
    /*border-radius:50px 30px;*/
    border-top-left-radius: 25px;
    border-bottom-right-radius: 45px;   
}

.btn-style-a:hover{
     background-color: rgb(175, 3, 83);
}

button {
     margin-top:250px;
}