body{
    background-color: rgb(7, 0, 0);
}
.formsty{
    border:3px solid rgb(143, 143, 143);
    padding: 25px;
    margin-top: 155px;
}
.sty-email-lab, .sty-pasw-lab
{
    font-size: 20px;
    text-decoration: underline;
    color: rgb(194, 94, 94);
    
   
}

.btn-sbt{
   background-color: rgb(246, 245, 245);
   color:rgb(18, 57, 139);
   
}
.btn-sbt:hover {
    background-color: rgb(187, 14, 106);
    color: rgb(239, 241, 245);
}

/*input*/
.form-control{
 border: 1px solid black;
 border-radius: 25px;

}


